* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  font-size: 10px;
  --primary-color: #ea9a96;
  --secondary-color: #f8b24f;
  --primary-light: #babfcc;
  --primary-background-color: #1b2430;
  --primary-text-color: #1b2430;
  --error-text-color: #ff0000;
  --white: #fff;
  --light-color: #f2ebe9;
  --primary-dark-color: #d38b87;
  --secondary-dark-color: #c68e3f;
}

body,
html {
  background: var(--light-color);
  color: var(--primary-text-color);
}

/* Resets */

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* Global styling */

.container {
  max-width: 168rem;
  margin: 0 auto;
  /* min-height: 90rem; */
}

.events-container {
  min-height: 90rem;
  max-width: 60%;
  margin: 0 auto;
  padding-top: 10rem;
}
.form-container {
  max-width: 60rem;
  margin: 0 auto;
}
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}
.full-width-high {
  width: 100%;
  height: 100%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.error-msg {
  color: var(--error-text-color);
  font-size: 1.4rem;
  height: 0rem;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2px;
}

.success-msg {
  color: var(--primary-background-color);
  font-size: 1.8rem;
  font-weight: 600;
  height: 0rem;
  margin: 1rem 0;
  letter-spacing: 0.2px;
}
.pointer {
  cursor: pointer;
}
.marginT-1 {
  margin-top: 1rem;
}
.marginT-2 {
  margin-top: 2rem;
}

.marginT-3 {
  margin-top: 3rem;
}
.marginT-4 {
  margin-top: 4rem;
}

.marginB-1 {
  margin-bottom: 1rem;
}
.marginB-2 {
  margin-bottom: 2rem;
}

.marginB-3 {
  margin-bottom: 3rem;
}
.marginB-4 {
  margin-bottom: 4rem;
}

.marginTb-1 {
  margin: 1rem 0;
}
.marginTb-2 {
  margin: 2rem 0;
}

.marginTb-3 {
  margin: 3rem 0;
}
.marginTb-4 {
  margin: 4rem 0;
}

.paddingTb-1 {
  padding: 1rem 0;
}
.paddingTb-2 {
  padding: 2rem 0;
}

.paddingTb-3 {
  padding: 3rem 0;
}

.paddingTb-4 {
  padding: 4rem 0;
}
.paddingTb-5 {
  padding: 5rem 0;
}
.paddingTb-6 {
  padding: 6rem 0;
}

.paddingLR-1 {
  padding: 0 1rem;
}
.paddingLR-2 {
  padding: 0 2rem;
}

.paddingLR-3 {
  padding: 0 3rem;
}

.paddingLR-4 {
  padding: 0 4rem;
}

.flex {
  display: flex;
}
.flex-row-space-bt {
  justify-content: space-between;
}

.flex-row-align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-col-70-30 {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
}
.gap-0-5 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-1-5 {
  gap: 1.5rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}
.bold {
  font-weight: bold;
}
.font-12 {
  font-size: 1.2rem;
}
.font-14 {
  font-size: 1.4rem;
}
.font-16 {
  font-size: 1.6rem;
}
.font-18 {
  font-size: 1.8rem;
}
.font-20 {
  font-size: 2rem;
}
.font-22 {
  font-size: 2.2rem;
}
.font-80 {
  font-size: 8rem;
}

.line-height {
  line-height: 1.7;
}

.icon {
  font-size: 5rem;
}
