.chat-container {
  /* background-color: aqua; */
  /* height: 40rem; */
  max-height: 50rem;
  /* width: 50%; */
  max-width: 60rem;
  margin: 0 auto;
  position: fixed;
  right: 1.5rem;
  top: 40%;
  border: 1px solid var(--primary-light);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.chat-container-hidden {
  display: none;
}
.chat-container .event-room-title {
  background-color: var(--secondary-color);
  height: 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  /* border-radius: 5px 5px 0 0; */
}
.chat-container .event-room-title .hide-chat {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  /* top: 5px; */
}
.chat-container .users-messages-container {
  height: 40rem;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
}

.chat-container .users-messages-container .users-list-title {
  background-color: var(--primary-background-color);
  height: 2rem;
  color: var(--white);
  /* height: 40rem;
  overflow-y: scroll;
  border: 1px solid red; */
}

.chat-container .users-messages-container .users-list {
  background-color: var(--primary-background-color);
  padding: 1rem;
  color: var(--white);

  overflow-y: auto;
}
.chat-container .users-messages-container .view-messages-container {
  padding: 0.5rem 0.45rem;

  height: 40rem;
  overflow-y: scroll;
  background-color: var(--white);
}
.chat-container .users-messages-container .view-messages-container .meta {
  color: var(--primary-light);
}

.chat-container .sending-message-container {
  border-top: 2px solid var(--primary-background-color);
  background-color: var(--white);
}

.view-messages-container::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
.view-messages-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.view-messages-container::-webkit-scrollbar-thumb {
  background: var(--primary-background-color);
}

/* Handle on hover */
.view-messages-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
