.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-background {
  /* background: #1b2430;
  width: 50%;
  min-width: 30rem;
  max-width: 50rem;
  height: 50%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.modal-overlay .modal-container {
  animation-name: modalAnimation;
  animation-duration: 0.3s;
  /* transition: all 2s; */
  width: 90%;
  max-width: 42rem;
  background: #1b2430;
  border-radius: 6px;
  padding: 2rem 3rem;
  /* position: fixed; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

@keyframes modalAnimation {
  from {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
  to {
    opacity: 1;
  }
}
.modal-overlay .modal-container .close-modal {
  cursor: pointer;
  color: var(--white);
  align-self: flex-end;
}
